<div>
    <mat-divider></mat-divider>
    <mat-list>
        <mat-list-item class="key-point">
            <h4 class="key-point-text"> Bachelor's Degree in Computer Science</h4>
        </mat-list-item>
        <mat-list-item class="sub-bullet">
            <p class="sub-bullet-text"> Graduated Magna Cum Laude from Frostburg State University in 2019</p>
        </mat-list-item>
        <mat-list-item class="sub-bullet">
            <p class="sub-bullet-text"> Majored in Computer Science</p>
        </mat-list-item>
        <mat-list-item class="sub-bullet">
            <p class="sub-bullet-text"> Minored in Information Security and Assurance</p>
        </mat-list-item>
        <mat-list-item class="key-point">
            <h4 class="key-point-text"> GED from Saint John's Catholic Prep</h4>
        </mat-list-item>
        <mat-list-item class="sub-bullet">
            <p class="sub-bullet-text"> Graduated with Honors in 2015</p>
        </mat-list-item>
        <a class="school-logos" href="www.frostburg.edu">
            <img class="frostburg-logo" src="https://www.frostburg.edu/_files/images/FSU-logo.png" alt="Frostburg State University Logo"> 
            <!-- <img class="sjcp-logo" src="https://www.saintjohnsprep.org/uploaded/themes/madison/images/logo-crest.png" alt="SJCP Crest"> -->
        </a>
    </mat-list>
</div>