<div>
    <mat-divider></mat-divider>
    <mat-list>
        <mat-list-item class="key-point">
            <h4> Bachelor's Degree in Computer Science</h4>
        </mat-list-item>
        <mat-list-item class="sub-bullet">
            <p> Graduated Magna Cum Laude from Frostburg State University in 2019</p>
        </mat-list-item>
        <mat-list-item class="sub-bullet">
            <p> Majored in Computer Science</p>
        </mat-list-item>
        <mat-list-item class="sub-bullet">
            <p> Minored in Information Security and Assurance</p>
        </mat-list-item>
        <mat-list-item class="key-point">
            <h4> GED from Saint John's Catholic Prep</h4>
        </mat-list-item>
        <mat-list-item class="sub-bullet">
            <p> Graduated with Honors in 2015</p>
        </mat-list-item>
    </mat-list>
</div>