<div>
    <mat-divider></mat-divider>
    <mat-list>
        <mat-list-item class="key-point">
            <h4> Full Stack Developer, IBM (2019-present)</h4>
        </mat-list-item>
        <mat-list-item class="sub-bullet">
            <p> FEMA RiskMap - Angular Frontend, Java Spring Backend, Public Trust Government Clearance</p>
        </mat-list-item>
        <mat-list-item class="sub-bullet">
            <p> GTS Agile Accelerate - Angular Frontend</p>
        </mat-list-item>
        <mat-list-item class="sub-bullet">
            <p> GSA Calm - Vue Frontend Design, Bid and Proposal</p>
        </mat-list-item>
        <mat-list-item class="sub-bullet">
            <p> USPS COVID-19 Tracker & Insights - Javascipt Frontend, PHP Backend</p>
        </mat-list-item>
        <mat-list-item class="sub-bullet">
            <p> IBM Innovation Garage - Angular Frontend, Java Spring Backend</p>
        </mat-list-item>
        <mat-list-item>
            <h4> IT Support Technician, Computer Enhancement Systems (2017)</h4>
        </mat-list-item>
        <mat-list-item class="sub-bullet">
            <p> System Diagnostics, Software/Hardware Repair, Customer Service Experience</p>
        </mat-list-item>
    </mat-list>
</div>