.grid-container{
    width:-webkit-fill-available;
}

.mat-grid-list{
    position: inherit;
}

.mat-card{
    width: 90%;
    min-height: 90%;
    background-color: whitesmoke;
}

.fx-wrapper{
    width: 95vw;
}